/*
    DEMO STYLE
*/
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#sidebar {
  min-width: 23%;
  max-width: 23%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  left: 0;
  z-index: 99;
  height: 100%;
  background: #fff;
}
#sidebar.active {
  margin-left: -23%;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
#sidebar .sidebar-header h3 {
  color: #333;
  font-size: 16px;
  margin: 0;
}
#sidebar .sidebar-header button {
  background: transparent;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -22%;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
