/*****************************************************/
/*** custom variables ***/
/*****************************************************/
/*******************************************************************/
/*** FONTS ***/
/*******************************************************************/
/*******************************************************************/
/*** FONTS SETTING ***/
/*******************************************************************/
/*******************************************************************/
/*** COLOR SCHEME ***/
/*******************************************************************/
/*******************************************************************/
/*** bootstrap responsive variables ***/
/*******************************************************************/
.sender-box .media-left {
  min-width: 50px;
}
.my-notifications #notificationsButton {
  background-color: transparent;
  border: none;
  position: relative;
  outline: inherit;
}
.my-notifications #notificationsButton .badge {
  background: #ea4c5c;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: -10px;
  right: 0;
  line-height: 22px;
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 11px;
}
.my-notifications .dropdown-menu {
  min-width: 485px;
  padding-top: 0;
  max-height: calc(100vh - 80px);
  overflow: auto;
}
.my-notifications .dropdown-menu .notifications_ul li {
  padding: 10px;
}
.my-notifications .dropdown-menu .notifications_ul li:not(:last-child) {
  border-bottom: 1px solid #ececec;
}
.my-notifications .dropdown-menu .notifications_ul li.unread {
  background: #f5f5f5;
}
.my-notifications .dropdown-menu .notifications_ul li a h5 {
  color: #222;
  font-size: 13px;
  margin-bottom: 7px;
}
.my-notifications .dropdown-menu .notifications_ul li a sup {
  color: #b1b1b1;
  margin-bottom: 3px;
}
.my-notifications
  .dropdown-menu
  .notifications_ul
  li
  a
  .the_notification_message {
  font-size: 12px;
  color: #8a8a8a;
}
.my-notifications .dropdown-menu .load-more {
  position: relative;
  text-align: center;
  margin: 10px 0;
}
.my-notifications .dropdown-menu .load-more:after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 1px;
  background: #ececec;
  left: 0;
  right: 0;
  top: 50%;
}
.my-notifications .dropdown-menu .load-more a {
  display: inline-block;
  position: relative;
  z-index: 3;
  background: #5c325c;
  color: #fff;
  border-radius: 30px;
  padding: 6px 16px;
  font-size: 11px;
}
.mentionSelected-container {
  border: 1px solid #ececec;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  height: 0;
  overflow: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  float: left;
}
.mentionSelected-container.active {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  height: auto;
  padding: 0px 15px;
  margin-top: 5px;
  margin-bottom: -25px;
}
.mentionSelected-container .title {
  margin-left: 15px;
}
.ttype {
  height: 50px;
}

.meta_replies-2 {
  max-width: 90% !important;
  padding-right: 5px;
}

.user-comment {
  padding-top: 15px;
}
.user-comment .card {
  background-color: transparent;
  border: 0;
  position: relative;
  padding-right: 50px;
}

.user-comment .card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
}
.user-comment .card .card-title {
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}
.user-comment .card .card-text {
  color: #797979;
  font-size: 11px;
  margin: 0;
  margin-bottom: 10px;
}
.user-comment .card .time {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 12px;
  color: #999;
}
.show-add-section .add-information .user-comment .card .time::before {
  content: "-";
}

.comment-form {
  margin-top: 10px;
}

.comment-form input {
  padding: 6px;
  width: 300px !important;
  word-wrap: normal;
  white-space: normal;
  overflow: hidden;
  min-height: 30px;
  border-radius: 10px;
  border: 0;
  border: 1px solid #ddd;
}

.comment-form input::placeholder {
  font-size: 13px;
}

.comment-form button {
  width: 100px;
  padding: 4px;
  border-radius: 10px;
  border: 0;
  height: 30px;
}

.comment-form .add-file {
  display: inline-block;
  border: 1px solid #ddd;
  width: 50px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

#floating-bottom,
#floating-top {
  position: fixed;
  z-index: 999;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  bottom: 15px;
  right: 180px;
  cursor: pointer;
  background-color: #5c325c;
  transition: all 0.5s;
  opacity: 0.5;
}
#floating-bottom i,
#floating-top i {
  color: #fff;
}

#floating-top {
  display: none;
}

/* حل مشكله تحديد الرسايل */
.chat-body::-webkit-scrollbar {
  display: none;
}
.chat-body::-moz-scrollbars {
  display: none;
}
.chat-body {
  position: relative;
  overflow: auto !important;
  scrollbar-width: none;
}

.show_category {
  color: #fff;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 12px;
  display: block;
  border-top: 1px solid #9d929b;
  border-radius: 5px;
  width: 98%;
  margin: auto;
  border: 1px solid #9d929b;
  margin-bottom: 4px;
}

.main-nav .group-name .dropdown .btn {
  font-size: 18px;
  color: #1c1c1c;
  padding: 0;
  outline: none;
  max-width: 100%;
  white-space: normal;
}

/* .chat-body .well{
  position: relative;
  border: 1px solid #000;
} */



.fixed-date {
  position: fixed;
  top: 10%;
  left: 430px;
  text-align: center;
  width: auto;
  padding: 3px 20px;
  border-radius: 50px;
  background-color: rgba(63, 14, 64, .6);
  color: #fff;
  height: auto;
  line-height: 30px;
  font-size: 12px;
  transition: all .3s ease-in-out;
}

.fixed-date-position{
  left: 150px;
  transition: all .3s ease-in-out;
}

/* .fixed-date .divider {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.fixed-date span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  background: #fcfcfc;
  width: 110px;
} */

/* #ResultsModal .modal-body{
  font-family: Arial, Helvetica, sans-serif;
}

#ResultsModal .modal-body .search-result-item{
  position: relative;
}

#ResultsModal .modal-body .search-result-item .date{
  position: absolute;
  left: 10px;
}

#ResultsModal .modal-body .search-result-item .media-body .media-heading{
  color: #1A0DAB;
  text-decoration: none;
  font-size: 16px;
}

#ResultsModal .modal-body .search-result-item .media-body .media-heading::after{
  font-family: "font awesome 5 free";
  content: "\f104";
  margin-right: 5px;
  font-size: 14px;
  color: rgb(92, 91, 91);
}

#ResultsModal .modal-body .search-result-item .channel-name{
  display: inline-block;
  font-size: 15px;
  color: rgb(90, 89, 89);
}

#ResultsModal .modal-header .close{
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3F0E40;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 999;
}

#ResultsModal .modal-body .search-result-item .media-body p{
  line-height: 25px;
  color: #000;
  margin: 0;
  font-size: 16px;
}

#ResultsModal .modal-footer{
  /* border: 1px solid #000; */
/* text-align: center;
} */

/* #ResultsModal .modal-footer .pagination{
  margin-top: 0;
}

#ResultsModal .modal-footer .pagination li.active a{
  background-color: transparent;
  color: #000;
}

#ResultsModal .modal-footer .pagination li a{
  border: 0 !important;
} */

#ResultsModal .search-result-item {
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px solid #dddddd78 !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 16px 15px 20px !important;
}

#ResultsModal #search_results li {
  position: relative !important;
}

#ResultsModal .search-result-item span.date {
  position: absolute !important;
  left: 10px !important;
}

.msg_meta .meta_replies{
  font-size: 18px !important;
}


#search_results .msg {
  margin-top: 2px !important;
  display: inline-block !important;
  line-height: 25px !important;
  font-size: 17px !important;
}

.search-result-item .media .media-body .media-heading {
  color: #1a0dab !important;
  text-decoration: none !important;
  font-size: 16px !important;
}

.search-result-item .media .media-body .media-heading .search_row_title {
  margin-right: 5px !important;
}

.well{
  margin-top: 20px;
}
#searchMsgsModal .pagination{
  margin-top: 10px !important;
}

.rtl .pagination > li > a, .rtl .pagination > li > span{
  border: 0 !important;
  margin: 2px !important;
}

